body {
    background-color: red;
    font-size: 28px;
    color: aqua  ;
    border-style: double;}


main {
    width: 85%;
    margin: 0 auto;
    
}

p {
    font-size: 1.4em;   
}

a:link, a:visited {
    color: aqua;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    border-style: double
    
}

